[submodule "EGSS/vendor/spdlog"]
	path = EGSS/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "EGSS/vendor/glfw"]
	path = EGSS/vendor/glfw
	url = https://github.com/TheCherno/glfw.git
[submodule "EGSS/vendor/glm"]
	path = EGSS/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "EGSS/vendor/imgui"]
	path = EGSS/vendor/imgui
	url = https://github.com/ocornut/imgui.git
