[submodule "GS/vendor/spdlog"]
	path = GS/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "GS/vendor/glfw"]
	path = GS/vendor/glfw
	url = https://github.com/TheCherno/glfw.git
[submodule "GS/vendor/glm"]
	path = GS/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "GS/vendor/imgui"]
	path = GS/vendor/imgui
	url = https://github.com/ocornut/imgui.git
	# Docking and multi-viewport live on this branch, not on master.
	branch = docking
[submodule "GS/vendor/libvterm"]
	path = GS/vendor/libvterm
	url = https://github.com/neovim/libvterm.git
